* {
    box-sizing: border-box;
}

.guide {
    display: none;
    max-width: 90vw;
    margin-left: 2%;
    text-align: justify;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.begin {
    height: inherit;
    border: black 10px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#btn-begin {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 4px;
} 

#btn-begin:hover {
    border: yellow 3px solid;
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: black 10px solid;
}

.char-containers, .controls {
    display: none;
}

.combat-log {
    height: 500px;
    font-size: 1rem;
}

.battle-info {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.ch {
    background-color: rgb(177, 218, 103);
    border: red 4px solid;
}

.hidden-info {
    display: none;
}
.enemy {
    color: darkred;
}

.atk-stat {
    color: red;
}

.player {
    font-size: 2em;
}

.hp-stat, .hp {
    color: darkgreen;
}

.def-stat {
    color: brown;
}

.mana-stat, .mana {
    color: purple;
}

.sp-stat {
    color: darkcyan;
}